.content {
	margin: 1rem 3rem 0 3rem;
	padding: 1rem;
	display: flex;
}

.cookie {
	--size: 300px;
	width: var(--size);
	height: var(--size);
	float: left;
	margin: 0 1rem 1rem 0;
}

.textArea {
	flex-grow: 1;
}

.sectionHeader {
	border-bottom: 1px solid var(--c-black);
	margin-top: 0;
}

.paragraph {
	max-width: 60ch;
}

.sectionHeader,
.paragraph,
.link {
	padding-left: 1rem;
}

.link {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	color: inherit;
}

.link:not(:hover) {
	text-decoration: none;
}

.link img {
	width: 1.3rem;
}

@media screen and (max-width: 670px) {
	.content {
		margin: 0 1rem;
	}
}

@media screen and (max-width: 580px) {
	.content {
		flex-direction: column;
		align-items: center;
	}
	.cookie {
		margin: 0;
	}
}

@media screen and (max-width: 380px) {
	.cookie {
		--size: 200px;
	}
}
