.content {
	padding: 1rem;
	height: 25rem;
	margin: 0 3rem;
	display: grid;
	grid-template-rows: repeat(2, 50%);
	flex-grow: 1;
	column-gap: 0.5rem;
}

.intro {
	display: flex;
	width: fit-content;
	flex-direction: column;
}

.intro .intro-top {
	margin-left: 5px;
}

.intro .intro-name {
	font-size: 5rem;
	line-height: 4rem;
}

.intro .intro-bottom {
	align-self: flex-end;
}

.btnLinks {
	grid-row: 2;
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.btnLinks a {
	height: 100%;
	width: fit-content;
	border: 2px solid var(--c-main-400);
	background-color: var(--c-main-500);
	text-align: center;
	font-size: 1.2rem;
	border-radius: 10px;
	padding: 0.5rem 2rem;
	cursor: pointer;
	transition: scale 400ms;
	text-decoration: none;
	color: inherit;
}

.btnLinks a:hover {
	transition: scale 200ms;
	scale: 1.1;
}

.bigCookie {
	grid-row: 1 / 3;
	align-self: center;
	position: relative;
	width: 25vw;
	max-width: 550px;
	aspect-ratio: 1;
	animation: spin 100s linear infinite;
}

@keyframes spin {
	from {
		rotate: 0deg;
	}
	to {
		rotate: 360deg;
	}
}

.bigCookie div {
	position: absolute;
	width: 50%;
	height: 50%;
	border-radius: 50%;
	background-image: url(assets/cookie.jpg);
	background-size: 100%;
	z-index: -1;
}

.bigCookie.jsEnabled {
	cursor: pointer;
	transition: scale 500ms;
}

.bigCookie.jsEnabled:hover {
	scale: 1.05;
}

.bigCookie :nth-child(1) {
	top: 10%;
	left: 2%;
}

.bigCookie :nth-child(2) {
	bottom: 8%;
	right: 2%;
}

.bigCookie :nth-child(3) {
	top: 2%;
	right: 8%;
}

.bigCookie :nth-child(4) {
	bottom: 2%;
	left: 8%;
}

.bigCookie :nth-child(5) {
	bottom: 10%;
	left: 1%;
}

.bigCookie :nth-child(6) {
	width: 100%;
	height: 100%;
}

.bigCookie :nth-child(7) {
	top: 50%;
	left: 10%;
	width: 30%;
	height: 30%;
	background-size: 100%;
}

.bigCookie :nth-child(8) {
	top: 41%;
	left: 66%;
	width: 30%;
	height: 30%;
	background-size: 100%;
}

.bigCookie :nth-child(9) {
	top: 27%;
	left: 60%;
	width: 30%;
	height: 30%;
	background-size: 100%;
}

.smallCookie {
	width: var(--size);
	height: var(--size);
	background-image: url(assets/cookie.jpg);
	background-size: 100%;
	border-radius: 50%;
	position: absolute;
	top: var(--top);
	left: var(--left);
	pointer-events: none;
}

.display {
	grid-row: 1 / 3;
	grid-column: 3 / 4;
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: repeat(2, 50%);
	align-items: flex-end;
	gap: 1rem;
}

.display :nth-child(1) {
	justify-self: flex-end;
}

.display :nth-child(2) {
	justify-self: flex-start;
}

.display :nth-child(3) {
	grid-column: 1 / 3;
	align-self: flex-start;
	justify-self: center;
}

.project {
	--corners: 10px;
	display: flex;
	flex-direction: column;
	text-decoration: none !important;
	border: 2px solid var(--c-main-400);
	overflow: hidden;
	border-radius: var(--corners);
	width: 9rem;
	height: 13rem;
	background-color: var(--c-main-500);
	transition: translate 400ms;
	color: inherit;
}

.project:hover {
	transition: translate 200ms;
	translate: 0 -10px;
}

.project .thumbnail {
	max-width: 100%;
	max-height: 100%;
	border-bottom: 2px solid var(--c-main-400);
	border-bottom-left-radius: var(--corners);
	border-bottom-right-radius: var(--corners);
}

.project .description {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	margin: 0;
	padding-bottom: 0.5rem;
	text-align: center;
}

@media screen and (min-height: 700px) {
	.intro {
		align-self: flex-end;
		margin-bottom: 1rem;
	}
	.btnLinks {
		margin-top: 1rem;
	}
}

@media screen and (max-width: 910px) {
	.bigCookie {
		display: none;
	}
	.content {
		column-gap: 0.5rem;
	}
}

@media screen and (max-width: 700px) {
	.content {
		grid-template-rows: revert;
	}
	.intro {
		justify-self: center;
	}
	.btnLinks {
		flex-direction: row;
		justify-content: center;
		gap: 2rem;
	}
	.display {
		grid-row: revert;
		grid-column: revert;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.display :nth-child(3) {
		align-self: center;
	}
}

@media screen and (max-width: 580px) {
	.content {
		margin: 0;
		display: flex;
		flex-direction: column;
	}
	.intro,
	.btnLinks {
		align-self: center;
	}
	.btnLinks a {
		line-height: 1rem;
		padding: 0.5rem 1rem;
	}
	.display {
		padding: 1.5rem;
		flex-direction: column;
		justify-content: flex-start;
	}
	.project {
		flex-direction: row;
		width: 100%;
		height: 8rem;
	}
	.project:hover {
		transition: all 200ms;
		translate: 10px;
	}
	.project .thumbnail {
		border-bottom-left-radius: 0;
		border-top-right-radius: var(--corners);
		border-bottom: none;
		border-right: 2px solid var(--c-main-400);
	}
	.project .description {
		padding: 0.5rem;
	}
}
