.content {
	margin: 0 3rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.item {
	--corners: 0.3rem;
	display: flex;
	gap: 0.5rem;
	width: 100%;
	text-decoration: none;
	color: inherit;
	padding-right: 1rem;
	background-color: var(--c-main-500);
	border: 2px solid var(--c-main-400);
	border-radius: var(--corners);
	transition: translate 400ms;
}

.item:hover {
	transition: translate 200ms;
	translate: 5px;
}

.item .thumbnail {
	width: 6rem;
	border-radius: var(--corners);
	border-right: 2px solid var(--c-main-400);
}

.item .text {
	flex-grow: 1;
	--padding: 0.5rem;
}

.item .name {
	margin: 0;
	border-bottom: 1px solid var(--c-black);
	padding-left: var(--padding);
	font-weight: bold;
	font-size: 1.3rem;
}

.item .date {
	padding-left: var(--padding);
	font-size: small;
}

.item .description {
	margin: 0;
	padding-left: var(--padding);
}

@media screen and (max-width: 480px) {
	.content {
		flex-direction: row;
		flex-wrap: wrap;
		margin: 0 1rem;
		justify-content: center;
	}
	.item {
		flex-direction: column;
		padding-right: 0;
		width: 9rem;
		gap: 0;
	}
	.item:hover {
		translate: 0 -5px;
	}
	.item .thumbnail {
		width: 100%;
		border-bottom: 2px solid var(--c-main-400);
		border-right: none;
	}
	.item .text {
		display: grid;
		place-items: center;
	}
	.item .name {
		border: none;
		font-weight: normal;
		text-align: center;
		padding-left: 0;
		margin: 0;
	}
	.item .description {
		display: none;
	}
}
