---
import Hero from "../components/hero.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="generator" content={Astro.generator}/>
	<title>Clikuki's Space</title>

	<!-- TODO: Selfhost fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
	<Hero />
</body>
</html>

<style>
	body {
		--c-bg: #F3E9DC;
		--c-darker: #C75D2C;
		--c-dark: #D96F32;
		--c-light: #F8B259;
		/* --c-bg: #799EFF;
		--c-darker: #FEFFC4;
		--c-dark: #FFBC4C;
		--c-light: #FFDE63; */

		font-family: "Open Sans", sans-serif;
		font-optical-sizing: auto;
		font-weight: normal;
		font-style: normal;
		font-variation-settings: "wdth" 100;

		margin: 0;
		background-color: var(--c-bg);
		color: var(--c-black);
	}

	:global(*, ::before, ::after) {
		box-sizing: border-box;
	}
</style>