---
import { content } from "../content";
---

<section>
	<h2 id="about">About Me</h2>
	<div class="body">
		<div class="content">
			<p class="description">
				Hi, I'm Clikuki, and this place is where I'll put all the stuff I make!
				I prefer to work with vanilla HTML/CSS/TS, though I'm hoping to use more languages.
				Right now, I'm working on stuff I find interesting to recreate,
				so I'll keep making some <i>silly</i> stuff.
			</p>
			<ul class="socials">
				<li><a href={content.socials.github}><img src="github.png" alt=""><span>My Github</span></a></li>
				<li><a href={content.socials.reddit}><img src="reddit.svg" alt=""><span>My Reddit</span></a></li>
			</ul>
		</div>
	</div>
</sect>

<style>
	section {
		padding: 1rem;
		background-color: var(--darker);
		background-image:
			linear-gradient(
				to bottom,
				color-mix(in oklab, var(--light) 90%, transparent),
				color-mix(in oklab, var(--dark) 90%, transparent) 30%,
				color-mix(in oklab, var(--dark) 90%, transparent) 70%,
				color-mix(in oklab, var(--darker) 70%, transparent)
			),
			url("circuit.svg");
		background-position: 1rem;
	}

	.body {
		display: flex;
		padding: 0 1rem;
		gap: 5ch;
		justify-content: center;
	}

	h2 {
		text-wrap: nowrap;
		display: flex;
		align-items: center;
		gap: 1ch;
	}
	h2::before,
	h2::after {
		content: "";
		width: 100%;
		height: 2px;
		background-color: var(--darker);
		border-radius: 1rem;
		flex-grow: 1;
	}

	.content {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: start;
		align-content: center;
	}

	.description {
		text-align: justify;
		max-width: 70ch;
	}

	.socials {
		list-style: none;
		margin: 0;
	}
	.socials a {
		margin-top: 1rem;
		width: max-content;
		display: flex;
		align-items: center;
		gap: 1ch;
		color: inherit;
		text-decoration: none;
	}
	.socials img {
		width: 2rem;
	}
	.socials [src^="reddit"i] {
		background-color: white;
		border-radius: 50%;
	}
	.socials span {
		position: relative;
	}
	.socials span::after {
		content: "";
		position: absolute;
		top: 100%;
		left: 0;
		width: 0;
		height: 2px;
		background: currentColor;
		border-radius: 1ch;
		transition: width 500ms;
	}
	.socials a:hover span::after {
		width: 100%;
	}
</style>