---
interface Props {
	title: string;
	projectSrc: string;
	thumbnailSrc: string;
}

const { title, projectSrc, thumbnailSrc } = Astro.props;
---

<a href={projectSrc}>
	<img src={thumbnailSrc} alt={title}>
	<span>{title}</span>
</a>

<style>
	a {
		display: grid;
		grid-template-rows: 2fr 1fr;
		justify-items: center;
		align-items: center;
		text-decoration: none;
		overflow: hidden;
		border-radius: .3rem;
		color: inherit;
		background-color: var(--c-light);
		box-shadow: .3rem .3rem var(--c-darker);
		user-select: none;
		transition: translate 500ms;
	}
	a:hover {
		transition: translate 300ms;
		translate: 0 -10px;
	}

	a img {
		width: 9rem;
		aspect-ratio: 1;
		margin: .5rem;
		border-radius: inherit;
	}

	/* a span {
		display: grid;
		height: 100%;
		align-items: center;
		justify-content: center;
	} */
</style>