---
interface Props {
	title: string;
	projectSrc: string;
	thumbnailSrc: string;
}

const { title, projectSrc, thumbnailSrc } = Astro.props;
---

<a href={projectSrc}>
	<img src={thumbnailSrc} alt={title}>
	<span>{title}</span>
</a>

<style>
	a {
		--corners: 0.2rem;
		display: flex;
		flex-direction: column;
		text-decoration: none !important;
		overflow: hidden;
		border-radius: var(--corners);
		width: 9rem;
		height: 13rem;
		background-color: var(--c-main-500);
		transition: translate 400ms;
		color: inherit;
		box-shadow: 0 0 0.4rem black;
		user-select: none;
	}

	a:hover {
		transition: translate 200ms;
		translate: 0 -10px;
	}

	a img {
		max-width: 100%;
		max-height: 100%;
		border-bottom: 2px solid var(--c-main-400);
		border-bottom-left-radius: var(--corners);
		border-bottom-right-radius: var(--corners);
	}

	a span {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-grow: 1;
		margin: 0;
		padding-bottom: 0.5rem;
		text-align: center;
	}
</style>