---
import ProjectItem from "./projectItem.astro"
import { content } from "../content";
---

<section>
	<h2 id="projects">My Projects</h2>
	<ul>
		{content.projects.map(proj => (
			<li>
				<ProjectItem
					title={proj.title}
					thumbnailSrc={proj.thumbnailSrc}
					projectSrc={proj.projectSrc}
				/>
			</li>
		))}
	</ul>
</section>

<style>
	section {
		box-shadow:
			inset 0 5rem 3rem -5rem var(--darker),
			inset 0 -5rem 3rem -5rem var(--darker);
		padding: 1rem 1rem 2rem 1rem;
	}

	h2 {
		display: grid;
		grid-template-columns: 1fr max-content 1fr;
		align-items: center;
		justify-items: center;
		gap: 1rem;
		margin: 0;
		padding-bottom: 1rem;
	}
	h2::before,
	h2::after {
		content: "";
		width: 100%;
		height: 2px;
		background-color: var(--darker);
		border-radius: 1rem;
	}

	ul {
		--size: 13rem;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		gap: 1.3rem;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 0;
		margin: 0;
	}
</style>